[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CIEE"]
	path = CIEE
	url = https://github.com/cran/CIEE
[submodule "CJAMP"]
	path = CJAMP
	url = https://github.com/cran/CJAMP
